# Python
*.pyc
/venv

# IDE
.idea

# OS
.DS_Store

# Tools
.terraform
/terraform/providers.tf
terraform.tfstate*
*.tfvars
/lambda/.chalice

# Config
bucket_map.yaml

# Other
/pkg
build/requirements_dev.txt
build/tea-dev.Dockerfile
