cachetools==5.0.0
cfnresponse==1.1.2
chalice==1.26.6
flatdict==4.0.1
git+https://github.com/asfadmin/rain-api-core.git@603cdf2db900abb746d947ad218d172e170453d7
netaddr==0.8.0

pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability
