aws-requests-auth==0.4.3
cfnresponse==1.0.2
chalice==1.21.4
cryptography==3.2
flatdict==4.0.1
jinja2==2.11.2
jwcrypto==0.8
netaddr==0.8.0
pyjwt==1.7.1
pyOpenSSL==19.1.0 # maybe not necessary
python-jose==3.2.0
PyYAML==5.3.1

pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability