name: Lint
on:
  pull_request:

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install -r requirements.txt

      - uses: TrueBrain/actions-flake8@v2
        with:
          plugins: flake8-isort
