name: Unit Test

on:
  pull_request:
  push:
    branches:
      - devel
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r requirements-dev.txt

    - run: pip install pytest-github-actions-annotate-failures

    - run: pytest --cov=lambda --cov-report=term-missing --cov-report=xml --cov-branch tests

    - name: Report coverage
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
